*.user
APSIM.Builds.Service/bin/
APSIM.Builds.Service/obj/Debug/APSIM.Builds.Service.csproj.FileListAbsolute.txt
APSIM.Builds.Service/obj/
APSIM.Builds.Web/bin/
APSIM.Builds.Web/obj/
packages/
*.suo
APSIM.Builds.Portal/bin/
APSIM.Builds.Portal/obj/
APSIM.Builds.Portal/ValidationGraphs/
ConsoleApplication1/App.config
ConsoleApplication1/
.vs/
**/bin/
**/obj/
